body {
    min-height: 1000px;
    font-family: 'Montserrat', sans-serif;

}

.container {
    padding: 3% 0%;
}


/* Header Styling */

.header {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/nav_background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    margin: 12% 0%;
}

.heading h1 {
    font-size: 120px;
    font-family: 'IM Fell Double Pica', serif;

}

/* Navbar stylings */
.navbar {
    background-color: transparent !important;
}

.navbar-nav .nav-link, .nav-link {
    color: white;
    font-size: 12px;
}

.navbar-brand {
    color: white;
    font-size: 32px;
}

/* Content Styling*/
.content {
    margin: 5% 0%;
    text-align: center;
}

.content h1 {
    font-weight: bold;
    margin-bottom: 4%;
}

/* Projects Styling*/
.projects {
    padding: 5% 0%;
    background-color: #F0F0F0;
    text-align: center;
}

.items {
    margin: 2% 0%;
}

.items .card img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.card {
    background-color: transparent !important;
    border: none !important;
}
.card-body{
    display: none;
}
.card:hover > .card-body {
    display: block;
    transform: translateY(-100%);

}
.items{
    color: white;
}
.card-body {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
