body {
    min-height: 1000px;
    font-family: 'Montserrat', sans-serif;

}

.container {
    padding: 3% 0%;
}


/* Header Styling */

.header {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/nav_background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    margin: 12% 0%;
}

.heading h1 {
    font-size: 120px;
    font-family: 'IM Fell Double Pica', serif;

}

/* Navbar stylings */
.navbar {
    background-color: transparent !important;
}

.navbar-nav .nav-link, .nav-link {
    color: white;
    font-size: 12px;
}

.navbar-brand {
    color: white;
    font-size: 32px;
    margin-bottom: 5%;
}

/* Content Styling*/
.content {
    margin: 5% 0%;
    text-align: center;
}

.content h1 {
    font-weight: bold;
    margin-bottom: 4%;
}

/* Projects Styling*/
.projects {
    background-color: #F0F0F0;
    text-align: center;
}

.items {
    margin: 2% 0%;
}

.items .card img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card {
    background-color: transparent !important;
    border: none !important;
}

.card-body {
    display: none;
    position: absolute;
}

.card:hover > .card-body {
    /*display: inline-flex;*/
    width: 93%;
}

.card:not(:hover) > .card-body {
    /*display: none;*/
    display: none !important;
}

.items {
    color: white;
}

.card-body {
    position: absolute;
    transition: all 0.3s;
    width: 100%;
    min-height: 450px;
    background: rgba(0, 0, 0, 0.5);
}

.card-img-top {
    min-height: 450px;
}

/* Utilities */
.clear-top {
    margin-top: 5%;
}

footer {
    color: white;
    text-align: center;
    background-color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 3.5rem;
    padding-bottom: 3.5rem;
}

.fab, .far {
    border-radius: 50%;
}

.navbar-expand-sm .nav-item {
    margin: 0% 5%;
}

.copyright, .privacy-links {
    font-size: 10px;
}

a, a:hover {
    color: #4B3D31;
}
